.accordion {
    max-width: 600px;
    margin: 2rem auto;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid white;
    /* background-color: var(--secondary-color);*/
}


.accordion-title:hover {
    /* background-color: #242424; */
    text-decoration: underline;
}

.accordion-status {
    text-decoration: none !important;
}

.accordion-title,
.accordion-content {
    padding: 1rem;
}

.accordion-content {
    background-color: #39b9d2;
}

@media screen and (max-width: 700px) {
    body {
        font-size: 18px;
    }

    .accordion {
        width: 90%;
    }
}
