.accordion {
    text-align: center;
    max-width: 600px;
    margin: 2rem auto;
    min-width: 600px;
}

.accordion-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid white;
    /* background-color: var(--secondary-color);*/
}

.accordion-header.accdordion-status:hover {
    text-decoration: none !important;
}

.accordion-header:hover .accordion-title {
    /* background-color: #242424; */
    text-decoration: underline;
}

.accordion-header .accordion-status {
    text-decoration: none !important;
}

.accordion-header,
.accordion-content {
    padding: 10px;
}

.accordion-content {
    background-color: #39b9d2;
}

@media screen and (max-width: 700px) {
    body {
        font-size: 18px;
    }

    .accordion {
        width: 90%;
    }
}
