.header {
    justify-self: flex-start;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: var(--third-color);
}
