.blogContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.blog {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.blog h1 {
    margin-bottom: 2rem;
}

.blog ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.blog li {
    margin-bottom: 2rem;
}

.blogEntry p {
    padding-left: 1rem;
    margin: 0;
    text-align: left;
}

.blogEntry img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0.1rem auto 1rem;
}
