.centerring {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-section {
    margin: 20px 0;
    width: 100%;
    max-width: 500px;
}

.drag-drop-area {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.drag-drop-area:hover {
    background-color: #353333; /* f9f9f9 */
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}

.image-display {
    margin-top: 20px;
    text-align: center;
}

.uploaded-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Animation for invalid file drops */
.invalid-drop {
    animation: blinkRed 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes blinkRed {
    0% {
        border-color: #ffffff;
        background-color: #cc2a2a;
        transform: scale(1);
    }
    50% {
        border-color: #ffffff;
        background-color: #282222;
        transform: scale(0.95);
    }
    100% {
        border-color: #ffffff;
        background-color: #0f0f0f;
        transform: scale(1);
    }
}

.textarea {
    all: unset;
    margin: 0;
    padding: 0;
    font: inherit;
    background: var(--third-color);
    padding: 1rem;
    width: 80vw;
}

.textareaContainer {
    margin-top: 1rem;
}
