:root {
    --first-color: #0f0f0f;
    --second-color: #1a1a1a;
    --third-color: #242424;
    --fourth-color: #181818;
    --orange: #ff7e67;
    --text-color: white;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: var(--text-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--first-color);
    margin: 0;
    padding: 0;
}

#root {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    text-decoration-color: transparent;
    color: var(--text-color);
    position: relative;
    display: inline-block;
    transition:
        text-decoration-color 0.3s ease,
        color 0.3s ease;
}

a:hover {
    color: var(--orange);
    text-decoration-color: var(--orange);
    cursor: pointer;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}


.button {
    box-shadow: 6px 6px var(--third-color);
    background-color: var(--fourth-color);
    color: var(--text-color);
    translate: -6px -6px;
    margin: 20px;
    /* border: 7px solid rgb(100, 32, 32); */
    border: 0;
    border-radius: 3px;
    outline: 0;
    cursor: pointer;
    transition:
        translate 0.1s cubic-bezier(0.075, 0.82, 0.155, 1),
        box-shadow 0.1s cubic-bezier(0.075, 0.82, 0.155, 1),
        background-color 0.1s cubic-bezier(0.075, 0.82, 0.155, 1),
        scale 0.3s cubic-bezier(0.075, 0.82, 0.155, 1);
    box-sizing: border-box;
    box-shadow: 6px 6px #242424;
    justify-self: center;
    width: 20vw;
}

.button:disabled {
    opacity: 0.5;
    box-shadow: 0px 0px rgb(36, 36, 36);
    translate: 0px 0px;
    pointer-events: none;
}

.button:hover {
    box-shadow: 4px 4px rgb(36, 36, 36);
    translate: -4px -4px;
    background-color: rgb(22, 22, 22);
}

.button:active {
    /* scale: 0.92; */
    box-shadow: 0px 0px rgb(36, 36, 36);
    translate: 0px 0px;
    background-color: rgb(20, 20, 20);
}

.centering {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
}
